<a href="https://colab.research.google.com/github/Deniseae/3c_MSI_Denise/blob/main/TPI_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
from google.colab import drive

drive.mount('/content/drive')
os.listdir("/content/drive/MyDrive/Dataset")
df = pd.read_csv('/content/drive/MyDrive/Dataset/VENTAS.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

  ID;FECHA;CLIENTE ;DEPOSITO;PRODUCTO;LINEA;CANTIDAD;PRECIO;COLOR;COSTO;FORMAPAGO;TIPOVENTA;MARCA
0  1;2/1/2024;MARTINEZ;MERLO;HELADERA;HOGAR;1;100...
1  2;2/1/2024;FERNANDEZ;QUILMES;LAVARROPA;HOGAR;1...
2  3;3/1/2024;GIMENEZ;QUILMES;HELADERA;HOGAR;1;10...
3  4;3/1/2024;DIMARIA;LANUS;TELEVISOR;ELECTRO;2;6...
4  5;4/1/2024;MOLINA;TAPIALES;LAVARROPA;HOGAR;1;7...

In [ ]:
#lista de diccionarios con productos
ventas_lista = [
    {"producto": "Heladera", "precio": 680000, "cantidad": 4},
    {"producto": "Lavarropa", "precio": 750000, "cantidad": 1},
    {"producto": "Televisor", "precio": 400000, "cantidad": 3}
]

# Calcular total de cada producto
for v in ventas_lista:
    total = v["precio"] * v["cantidad"]
    print(f"{v['producto']}: ${total}")

Heladera: $2720000
Lavarropa: $750000
Televisor: $1200000

In [ ]:
# Primeras filas
df.head()

# Información general
df.info()

# Estadísticas básicas
df.describe()

# Columnas del DataFrame
print("Columnas:", df.columns.tolist())

# Valores únicos por columna
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           546 non-null    int64
 1   FECHA        546 non-null    datetime64[ns]
 2   CLIENTE      546 non-null    object
 3   DEPOSITO     546 non-null    object
 4   PRODUCTO     546 non-null    object
 5   LINEA        546 non-null    object
 6   CANTIDAD     546 non-null    int64
 7   PRECIO       546 non-null    int64
 8   COLOR        546 non-null    object
 9   COSTO        546 non-null    int64
 10  FORMAPAGO    546 non-null    object
 11  TIPOVENTA    546 non-null    object
 12  MARCA        546 non-null    object
 13  MES          546 non-null    period[M]
 14  TOTAL_VENTA  546 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(8), period[M](1)
memory usage: 64.1+ KB
Columnas: ['ID', 'FECHA', 'CLIENTE ', 'DEPOSITO', 'PRODUCTO', 'LINEA', 'CANTIDAD', 'PRECIO', 'COLOR', 'COSTO', 'FORMAPAGO', 'TIPOVENTA', 'MARCA', 'MES', 'TOTAL_VENTA']

ID             546
FECHA          235
CLIENTE         10
DEPOSITO         5
PRODUCTO         9
LINEA            3
CANTIDAD         5
PRECIO           7
COLOR            3
COSTO            7
FORMAPAGO        3
TIPOVENTA        3
MARCA            4
MES              9
TOTAL_VENTA     19
dtype: int64

In [ ]:
# Valores nulos
print("Valores nulos por columna:")
print(df.isnull().sum())

# Filas duplicadas
duplicados = df.duplicated().sum()
print(f"Filas duplicadas: {duplicados}")

# Mostrar duplicados si existen
if duplicados > 0:
    display(df[df.duplicated()])

# Documentación del estado inicial
print("\n--- Estado inicial de los datos ---")
print(f"Filas totales: {len(df)}")
print(f"Columnas totales: {len(df.columns)}")

Valores nulos por columna:
ID             0
FECHA          0
CLIENTE        0
DEPOSITO       0
PRODUCTO       0
LINEA          0
CANTIDAD       0
PRECIO         0
COLOR          0
COSTO          0
FORMAPAGO      0
TIPOVENTA      0
MARCA          0
MES            0
TOTAL_VENTA    0
dtype: int64
Filas duplicadas: 0

--- Estado inicial de los datos ---
Filas totales: 546
Columnas totales: 15